.list ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.list li {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.list a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}

.list ul a:hover {
    text-decoration: none;
    color: green;
    font-weight: 500;
    border-bottom: 1px solid green;
}

hr {
    color: rgba(0, 0, 0, 0.562);
    margin: 0;
    padding: 0;
}
