.list ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.list li{
    position: relative;
}
.list a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
}
.list ul a:hover{
    text-decoration: none;
    color: green;
    font-weight: 500;
}
.hr{
    -moz-border-box:1px;
    -webkit-border-box:1px;
    background-color: rgba(0, 0, 0, 0.452);
    border-left: 90px solid green; 
    padding: 1px; 
    text-align: left;
}